.App {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.1),
      rgba(40, 180, 133, 0.1)
    ),
    url(./img/background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  color: rgb(90, 84, 84);
}

.formtitle {
  color: #fff;
  background-color: rgb(194, 182, 22);
  font-weight: 900;
}

.form-container {
  width: 400px;
  height: 550px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  display: grid;
  place-items: center;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: rgb(0, 21, 255);
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}
.form-personal {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  justify-content: normal;
}
.form-prof {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;

  justify-content: normal;
}
.form-prof-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-prof-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personal-data {
  height: 300px;
  justify-content: space-between;
}
/* PROGRESS BAR */
.progress {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progress div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(194, 182, 22);
}

.description-input {
  height: 50px;
  columns: 30;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.field-input {
  padding-bottom: 20px;
}
.error {
  font-size: smaller;
  font-weight: bold;
  color: red;
}
/*styling tags*/
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 300px;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  font-weight: 100 !important;
}
.tags-input #input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}
.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
}
.tag-list {
  width: auto;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 6px;
  list-style: none;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  background: #79808a;
  font-size: 10px;
}
.tag-title {
  margin-top: 3px;
}
.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.tags-profile {
  display: flex;
  flex-wrap: wrap;
  font-weight: 100 !important;
}
.footer {
  display: flex;
  flex-direction: row;
}
.profile {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: 11px;
  font-weight: 100 !important;
  padding-left: 50px;
}
.profile-title {
  font-weight: bold;
  color: gray !important;
}
.profile-title-country {
  font-weight: bold;
  color: gray !important;
  padding-right: 70px;
}
.profile-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 5px;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.profile-title-experience {
  font-weight: bold;
  color: gray !important;
  padding-right: 50px;
}
.profile-title-email {
  font-weight: bold;
  color: gray !important;
  padding-right: 80px;
}
.profile-skills-border {
  border: 1px solid gray;
  border-radius: 5px;
}
.profile-avatar {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.profile-email-fullname {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.profile-description {
  padding-bottom: 10px;
}
.profile-country-city {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.profile-experience-sector {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
img {
  height: 10vh;
}
